// yellow: #FBEE1F
// breakpoints
$medium: 1280px;
$large: 1920px;

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;

  .Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    width: 100%;

    .Container {
      margin-left: 2rem;
      margin-right: 2rem;
      width: 80%;
      // margin-top: 2rem;
      // table {
      //   border-collapse: collapse;
      //   width: 100%;
      // }
      // td {
      //   padding: 8px;
      //   text-align: left;
      //   border-bottom: 1px solid #ddd;
      //   max-width: 10px;
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      // }
      // td.tweets {
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      //   max-width: 500px;
      // }

      // th {
      //   border-bottom: 3px solid #000;
      //   padding: 8px;
      //   text-align: left;
      // }

      ul {
        display: flex;
        padding: 20px;
        list-style: none;
        border-bottom: 1px solid black;

        @media only screen and (min-width: $medium) {
          flex-direction: row;
          justify-content: space-between;
        }

        li {
          display: flex;
          align-items: center;
          width: 15%;
          justify-content: center;
        }
      }
      h2 {
        text-align: center;
      }

      border-top: 4px solid black;
      background: white;
      .Data {
        margin-right: 15px;
      }
      .TakeActionButton {
        padding: 12px;
        min-width: 145px;
        border: 1px solid#FBEE1F;
        border-radius: 10%;
        background-color: #fbee1f;
        text-transform: uppercase;
      }
    }
    .BannerContainer {
      height: 338px;
      // background-color: #000000;
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.52),
          rgba(0, 0, 0, 0.73)
        ),
        url("https://images.unsplash.com/photo-1591042989061-3911e1b623c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
      background-repeat: no-repeat;
      background-size: 1000px 480px;
      object-fit: cover;
      background-position: 100%;
      z-index: -2;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      overflow: hidden;
      // transform: skew(-30deg);
      @media only screen and (min-width: $large) {
        height: 338px;
        // background-color: #000000;
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.52),
            rgba(0, 0, 0, 0.73)
          ),
          url("https://images.unsplash.com/photo-1591042989061-3911e1b623c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
        background-repeat: no-repeat;
        background-size: 1062px 480px;
        object-fit: cover;
        background-position: 100%;
        z-index: -2;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        overflow: hidden;
      }
    }
    .BannerContainer::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 200%;
      top: -50%;
      left: -100px;
      z-index: -1;
      // background: url("https://images.unsplash.com/photo-1503249023995-51b0f3778ccf?ixlib=rb-1.2.1&auto=format&fit=crop&w=611&q=80");
      // background-repeat: no-repeat;
      background-color: black;
      transform: skew(-0deg);
    }

    .BannerContainer::after {
      content: "";
      // background-color: red;
      // left: -10px;
      // height: 100%;
      // width: 45.25%;
      // position: absolute;
      // z-index: -1;
      // transform: skew(-60deg);
      width: 0;
      height: 0;
      border-top: 175px solid transparent;
      border-left: 175px solid black;
      border-bottom: 175px solid transparent;
      position: absolute;
      right: 46.1%;
    }

    .BannerHeaderContainer {
      width: 80%;
      max-width: 50rem;
      height: 15rem;
      position: relative;
      top: 5rem;
      left: 6rem;
    }
    .BannerHeader {
      // background-color: #fbee1f;
      height: 9rem;
      position: relative;
      top: 20px;
      right: 70px;
      bottom: 50px;
      width: 100%;
    }
    .BannerText {
      font-family: georgia;
      font-weight: bold;
      font-size: 34px;
      position: relative;
      top: 2rem;
      left: 4rem;
      color: white;
      span {
        color: #fbee1f;
      }
    }
    .BannerSloganContainer {
      position: relative;
      width: 100%;
      height: 2.5rem;
      left: 11%;
      top: 0.75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    .BannerSloganText {
      font-family: georgia;
      font-weight: bold;
      vertical-align: middle;
      margin-left: -1.5rem;
      margin-top: 2.5rem;
      color: #fbee1f;
      font-size: 33px;
    }

    .graybar {
      height: 50px;
      width: 100%;
      background-color: #6f6f6f;
      display: flex;
      align-items: center;
      justify-content: center;

      .messageContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .twitterButton {
          color: #fbee1f;
          margin-right: 15px;
        }
      }
      p {
        color: white;
      }
    }

    .TrendingHashtagsContainer {
      color: white;
      width: 45%;
      max-width: 30rem;
      height: 10rem;
      position: relative;
      top: 7rem;
      bottom: 2rem;
      left: -10%;
      .HashtagContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .twitterButton {
          color: #fbee1f;
          margin-left: 10px;
        }
      }
      @media only screen and (min-width: $large) {
        color: #ffffff;
        width: 45%;
        max-width: 30rem;
        height: 10rem;
        position: relative;
        top: 7rem;
        bottom: 2rem;
        left: 20%;
      }
    }
    .TrendingHashtagsHeader {
      font-family: georgia;
      font-weight: bold;
    }
    .TrendingHashtagsDivider {
      height: 0.125rem;
      background-color: #fbee1f;
      border: none;
    }
    .HashtagData {
      list-style: none;
      position: relative;
      left: 0;
      padding-left: 0;
    }
    .HashtagListEntry {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
    }
    .tweet {
      width: 100%;
      height: 60px;
      background-color: #555;
      display: flex;
      justify-content: center;
      align-items: center;
      .BannerHeaderSubtextContainer {
        .BannerHeaderSubtext {
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          color: white;
          font-size: 14pt;
        }
      }
    }
    .TweetsAndIncidentsNavbar {
      // background: blue;
      width: 100%;
      height: 4rem;
      position: relative;
      top: 0;
      left: 0;
    }
    .TweetsAndIncidentsContainer {
      //background:blue;
      padding: 15px;
      width: 100%;
      .TweetsAndIncidentsNavbar {
        //background: orange;
        width: 100%;
        height: 3rem;
      }

      .TweetsAndIncidentsButtonsContainer {
        display: flex;
        flex-direction: row;
        font-family: arial;
        font-weight: bold;
        padding-left: 5.5rem;
        .TweetsButton {
          padding-left: 1rem;
        }
        .IncidentsButton {
          color: #707070;
          border-bottom: 15px solid #c4c4c4;
        }
        .TweetsButton {
          border-bottom: 15px solid #fbee1f;
          width: 179.58px;
        }
        .TweetsButton,
        .IncidentsButton {
          height: 2.875rem;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-left: 2rem;
          padding-right: 2rem;
          cursor: pointer;
        }
        // .TweetsButton:hover,
        // .IncidentsButton:hover {
        //   border-bottom: 0.125rem solid #707070;
        // }
      }

      .Dropdown {
        padding: 2rem;
        margin-left: 4.5rem;
        display: flex;
        justify-content: flex-start;

        label:nth-child(1) {
          position: relative;
          left: -25px;
        }

        label:nth-child(2) {
          position: relative;
          left: -10px;
        }
        label:nth-child(3) {
          position: relative;
          left: 550px;

          input {
            margin-left: 10px;
          }
        }

        label {
          padding: 10px;

          select {
            margin-left: 10px;
          }
        }
        select,
        input {
          border: 1px solid #707070;
          border-radius: 10px;
          width: 150px;
          height: 50px;
          padding-left: 15px;
          padding-right: 5px;
        }
      }
    }

    .filters {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 1000px;
      position: relative;
      left: 45px;
      bottom: 20px;

      .singleFilter {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-right: 20%;
        font-weight: bolder;
      }
      .Arrow {
        color: #707070;
      }

      // .Arrow:nth-child(1n -2) {
      //   // margin-right: 100px;
      //   position: relative;
      //   right: 80px;
      // }

      // div:nth-child(2) {
      //   position: relative;
      //   right: 100px;
      // }

      .singleFilter:nth-child(1) {
        position: relative;
        right: 40px;

        .Arrow {
          position: relative;
          left: 3px;
        }
      }

      .singleFilter:nth-child(2) {
        position: relative;
        left: 53px;

        .Arrow {
          position: relative;
          left: 3px;
        }
      }
      .singleFilter:nth-child(3) {
        position: relative;
        left: 110px;

        .Arrow {
          position: relative;
          left: 3px;
        }
      }

      .singleFilter:nth-child(4) {
        position: relative;
        left: 133px;

        .Arrow {
          position: relative;
          left: 3px;
        }
      }
    }
  }
  .link {
    text-decoration: inherit;
    color: black;
    font-family: arial;
  }
  .Navbar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 6rem;
    width: 100%;
    background-color: #fbee1f;
    color: black;
    font-family: arial;
    .NavbarLinks {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      padding-right: 2rem;
    }
  }
  .NavbarHeaderText {
    padding-left: 8rem;
    padding-top: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    .Bold {
      font-weight: bolder;
    }
  }
  .NavbarLink {
    padding-right: 1rem;
    padding-top: 1rem;
    button {
      background-color: black;
      border: solid;
      border-radius: 7px;
      width: 230px;
      cursor: pointer;
      h5 {
        color: white;
      }
    }
  }
  .NavbarLink:hover {
    font-size: 1.1em;
  }
  .Header {
    margin-top: 6rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
// media queries
