// yellow: #FBEE1F

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  .Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    position:absolute;
    top: 6rem;
    left:0;
    right:0;
    width:100%;
    .Container {
      width: 300px;
      margin-top:1rem;
      ul {
        list-style: none;
        padding: 0;
      }
      h2 {
        text-align: center;
      }
      border-top: 4px solid #1565c0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      background: white;
      .Data {
        margin: 15px;
      }
      .TakeActionButton {
        border: 1px solid black;
        border-radius: 10%;
        background-color: #FBEE1F;
      }
    }
    .BannerContainer {
      height: 16rem;
      background-color: black;
      width:100%;
      position: relative;
      top:0;
      left:0;
      right:0;
      display:flex;
    }
    .BannerHeaderContainer {
      width:30%;
      max-width: 28rem;
      height:11rem;
      position:relative;
      top:3rem;
      left:2rem;
    }
    .BannerHeader {
      background-color:#FBEE1F;
      height:9rem;
      position:relative;
      top:0;
      left:0;
      width:100%;
    }
    .BannerText {
      font-family: georgia;
      font-weight:bold;
      font-size: 2.5rem;
      position: relative;
      top: 2rem;
      left:4rem;
    }
    .BannerSloganContainer{
      background: white;
      position:relative;
      width:60%;
      height:2.5rem;
      left:60%;
      top:3rem;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    .BannerSloganText {
      font-family: arial;
      font-weight:bold;
      vertical-align: middle;
      margin-left:1rem;
    }
    .BannerHeaderSubtextContainer {
      width:120%;
      height:2rem;
      position:relative;
      top:0rem;
      left:0rem;
    }
    .BannerHeaderSubtext {
      font-family:georgia;
      color:white;
      font-size: 9pt;
    }
    .TrendingHashtagsContainer {
      color:white;
      width: 45%;
      max-width: 30rem;
      height:10rem;
      position:relative;
      top:3rem;
      bottom:2rem;
      left:20%;
    }
    .TrendingHashtagsHeader {
      font-family:georgia;
      font-weight:bold;
    }
    .TrendingHashtagsDivider {
      height:0.125rem;
      background-color: #FBEE1F;
      border: none;
    }
    .HashtagData {
      list-style: none;
      position:relative;
      left:0;
      padding-left:0;
    }
    .HashtagListEntry {
      display:flex;
      justify-content: space-between;
      padding-left:0;
    }
    .TweetsAndIncidentsNavbar {
      //background:blue;
      width:100%;
      height: 4rem;
      position:relative;
      top:0;
      left:0;
    }
    .TweetsAndIncidentsContainer {
      //background:blue;
      width:100%;
      .TweetsAndIncidentsNavbar {
        //background: orange;
        width:100%;
        height:3rem;
        .TweetsAndIncidentsButtonsContainer {
          display:flex;
          flex-direction: row;
          font-family: arial;
          font-weight: bold;
          padding-left: 2rem;
          .TweetsButton {
            padding-left: 1rem;
          }
          .TweetsButton, .IncidentsButton {
            height: 2.875rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-left:2rem;
            padding-right:2rem;
          }
          .TweetsButton:hover, .IncidentsButton:hover {
            border-bottom:0.125rem solid #707070;
          }
        }
      }
    }
  }
  .link {
    text-decoration: inherit;
    color: black;
    font-family: arial;
  }
  .Navbar {
    position: absolute;
    left: 0;
    top: 0;
    display:flex;
    height: 6rem;
    width: 100%;
    background-color: #FBEE1F;
    color: black;
    font-family: arial;
    .NavbarLinks {
      display:flex;
      justify-content: flex-end;
      flex: 1;
      padding-right:2rem;
    }
  }
  .NavbarHeaderText {
    padding-left:2rem;
    padding-top:1rem;
    .Bold {
      font-weight:bolder;
    }
  }
  .NavbarLink {
    padding-right:1rem;
    padding-top:1rem;
  }
  .NavbarLink:hover {
    font-size:1.1em;
  }
  .Header {
    margin-top:6rem;
  }
}
