.floatContainer {
  display: flex;
  .sideBar {
    flex: 1;
    background-color: #ebebeb;
  }
  .formstyle {
    margin-right: 900px;
    margin-top: 10px;
    padding: 60px;
    input[type="text"],
    [type="file"],
    [name="event_description"],
    [type="file"],
    select {
      width: 360px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    input[type="submit"] {
      width: 360px;
      background-color: #fbee1f;
      color: #000000;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="file"] {
      width: 220px;
      background-color: #707070;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="checkbox"] {
      color: #000000;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    span {
      margin: 10px;
    }

    div {
      border-radius: 5px;
      // background-color: #f2f2f2;
      // padding: 20px;
    }
  }
}

.required {
  color: red;
  float: right;
  font-size: 10px;
}

.aftersubmit {
  padding: 60px 120px;
}

.TakeActionButton {
  border: 1px solid black;
  border-radius: 10%;
  background-color: #fbee1f;
}
